@mixin print-firacode-font-face() {
	@font-face {
		font-family:'FiraCode-Regular';
		src: url('../fonts/FiraCode-Regular.eot');
		src: url('../fonts/FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/FiraCode-Regular.woff') format('woff'),
			url('../fonts/FiraCode-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+000D-1F310;
	}
}