$supported-weights: (
    thin: 200,
    extralight: 300,
    light: 400,
    regular: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    heavy: 900
);

$supported-styles: (normal italic);

@mixin print-overpass-font-face(
    $weights: map-keys($supported-weights),
    $styles: $supported-styles,
    $weight-map: $supported-weights,
    $path_to_dist: '../fonts/'
) {
    @each $weight in $weights {
      @each $style in $styles {
          @font-face {
            font-family: 'overpass';
            src: url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.eot?");
            src: url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.eot?#iefix") format("embedded-opentype"),
                 url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.woff?") format("woff"),
                 url("#{$path_to_dist}overpass-#{$weight}#{if($style != normal, #{-$style}, "")}.ttf?") format("truetype");
            font-weight: map-get($weight-map, $weight);
            font-style: $style;
          }
      } 
    }
}
