@import 'overpass';
@import 'firacode';
@import 'pygments';

$pink:#389844;
$purple:#00420f;
$blue:#6b946c;
$off-black:#0c200d;

$backgroundcolor: #000000;
$textcolor: #feffff;
$lighttextcolor: #eeeeee;

@include print-overpass-font-face;
@include print-firacode-font-face;

body {
  line-height: 1.5;
  color: $textcolor;
  background-color: $backgroundcolor;
  font-family: overpass, sans-serif;
  font-size: 1em;
  width: 80%;
  min-width: 200px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  
  img, video, figure {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }
  
  ul {
    margin-left: 1rem;
    padding-left: 1rem;
  }

  a {
    color: $textcolor;
    text-decoration: underline;
  }

  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

header {
  color: $lighttextcolor;
  background-color: $backgroundcolor;
  top: 0;
  padding-bottom : 5px;
  border-bottom: solid 1px $purple;
  overflow: hidden;
  a {
    color: $lighttextcolor;
  }
}

.button_no_decoration {
  color: $purple;
  border: none;
  outline: none;
  background: transparent;
  vertical-align: middle;
  font-family: sans-serif;
}

.site_title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  a {
    color: $textcolor;
    text-decoration: none;
  }
}

nav {
  text-align: right;
  a {
    text-decoration: none;
  }
}

dl.archives {
  dt {
    color: $blue;
  }

  dd {
    color: $blue;
    font-size: 1.3rem;
    margin-left: 0;

    a {
      text-decoration: none;
    }
  }
}

header.post {
  border-bottom: none;
  a {
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: bold;
    color: $textcolor;
    text-decoration: none;
    display: block;
  }

  time {
    color: $blue;
    text-align: right;
  }
}

footer {
  color: $lighttextcolor;
  margin-top: 50px;
  padding-top: 0px;
  a {
    color: $lighttextcolor;
  }
  svg {
    display: block;
    margin: auto;
  }
  small {
    display: block;
    text-align: center;
    font-size: 0.6rem;
  }
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

pre {
  border: 1px solid #AAA;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  font-size: 1em;
}

code {
  font-family: 'FiraCode-Regular';
}

blockquote {
  border-left: 5px solid $blue;
  padding: 0.5rem;
  margin: 1rem;
}

table {
  max-width: 90%;
}

table th {
  padding: 10px;
}

table th, td {
  border: solid 1px $pink;
}

table td {
  padding: 10px;
}

button {
  color: $backgroundcolor;
  background-color: $blue;
  border: solid;
  border-radius: 3px;
  border-color: $blue;
}

img.srko {
  border-radius: 5%;
  image-rendering: pixelated;
}

model-viewer {
  width: auto;
  height: 400px;
}