<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, viewport-fit=cover" />
    <meta name="description" content="{{ SITESUBTITLE }}" />
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% assets filters="libsass,cssmin", output="supplemental.min.css", "supplemental.scss" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}" />
    {% endassets %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <style type="text/css">{% include "main.css" %}</style>
  </head>
  <body>
    <header class="site_header">
      <div class="site_title">
        <p><a href="/" aria-label="Go back to homepage for outurnate.com">{% include "banner.svg" %}</a></p>
      </div>
      <nav>
        <a href="https://github.com/outurnate">{% include "github.svg" %}</a>
        <a href="/{{ FEED_ALL_ATOM }}">{% include "rss.svg" %}</a>
        <span class="right">
          <a href="/archives.html">&gt;archives</a>
          &nbsp;<a href="/pages/web-things.html">&gt;web things</a>
        </span>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
      <small>&copy; 2025 Joe Dillon</small>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" aria-label="Read content license">{% include "cc.svg" %}</a>
    </footer>
  </body>
</html>
