@font-face {
  font-family: 'Fira Sans';
  src: url('/theme/Firava.woff2') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F,U+00A0-00FF,U+20BC,U+2010,U+2013,U+2014,U+2018,U+2019,U+201A,U+201C,U+201D,U+201E,U+2039,U+203A,U+2026,U+2022;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/theme/FiravaItalic.woff2') format('woff');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F,U+00A0-00FF,U+20BC,U+2010,U+2013,U+2014,U+2018,U+2019,U+201A,U+201C,U+201D,U+201E,U+2039,U+203A,U+2026,U+2022;
}

:root {
  --highlight-fill: #389844;
  --bordercolor: #6b946c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundcolor: #000000;

    --box-fill: #272822;
    --box-fill-title: #161711;
    --textcolor: #feffff;
    --lighttextcolor: #eeeeee;

    --code-hightlight: #49483e;
    --code-color1: #ae81ff;
    --code-color2: #959077;
    --code-color3: #66d9ef;
    --code-color4: #ff4689;
    --code-color5: #a6e22e;
    --code-color6: #e6db74;

    /* unused for now, can be used to match diagrams */
    --diagram-color-a: #98E585;
    --diagram-color-b: #0c200d;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundcolor: #DDDDDD;

    --box-fill: #f8f8f8;
    --box-fill-title: #e7e7e7;
    --textcolor: #000000;
    --lighttextcolor: #777777;

    --code-highlight: #ffffcc;
    --code-color1: #666666;
    --code-color2: #3D7B7B;
    --code-color3: #008000;
    --code-color4: #A00000;
    --code-color5: #0000FF;
    --code-color6: #BA2121;

    /* unused for now, can be used to match diagrams */
    --diagram-color-a: #0c200d;
    --diagram-color-b: #98E585;
  }
}

body {
  line-height: 1.5;
  color: var(--textcolor);
  background-color: var(--backgroundcolor);
  font-family: Fira Sans;
  font-size: 1em;
  width: 80%;
  min-width: 200px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

img, video, figure {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

ul {
  margin-left: 1rem;
  padding-left: 1rem;
}

a {
  color: var(--textcolor);
  text-decoration: underline;
}

header {
  color: var(--lighttextcolor);
  top: 0;
  padding-bottom : 5px;
  overflow: hidden;
  a {
    color: var(--lighttextcolor);
  }
}

header.site_header {
  border-bottom: solid 1px var(--bordercolor);
  margin-bottom : 5px;
}

hr {
  color: var(--bordercolor);
  background: var(--bordercolor);
  height: 1px;
  font-size: 0;
  border: 0;
}

header.post {
  a {
    font-size: 2.2em;
    line-height: 1.4em;
    font-weight: bold;
    color: var(--textcolor);
    text-decoration: none;
    display: block;
  }

  time {
    color: var(--bordercolor);
    text-align: right;
  }
}

.site_title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  a {
    color: var(--textcolor);
    text-decoration: none;
  }
  svg {
    width: 100%;
  }
}

nav {
  text-align: left;
  a {
    text-decoration: none;
  }
  svg {
    line-height: 1;
    height: 1em;
    width: 1em;
    padding-left: 5px;
  }
  span.right {
    float: right;
  }
}

dl.archives {
  dt {
    color: var(--bordercolor);
  }

  dd {
    color: var(--bordercolor);
    font-size: 1.3rem;
    margin-left: 0;

    a {
      text-decoration: none;
    }
  }
}

footer {
  color: var(--lighttextcolor);
  margin-top: 50px;
  padding-top: 0px;
  a {
    color: var(--lighttextcolor);
  }
  svg {
    display: block;
    margin: auto;
  }
  small {
    display: block;
    text-align: center;
    font-size: 0.6rem;
  }
}

/* heading text */
h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0px;
}

h4, h5, h6 {
  display: none;
}

/* stuff in boxes */
pre, .admonition {
  background: var(--box-fill);
  color: var(--textcolor);
  border: 1px solid var(--bordercolor);
}

pre {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  font-size: 1em;
}

.admonition {
  padding: 5px 10px;
}

.admonition p.admonition-title {
  background: var(--box-fill-title);
  margin: -5px -10px 0;
  padding: 5px 10px;
}