.highlight {
  background: var(--box-fill);
  color: var(--textcolor);

  .hll {
    background-color: var(--code-highlight);
  }

  .esc, .g, .x, .p, .n, .ge, .gr, .gh, .gt, .nb, .ni, .nl, .nn, .py, .nv, .pm, .w, .bp, .vc, .vg, .vi, .vm, .ges, .gs, .go {
    color: var(--textcolor);
  }

  .l, .m, .mb, .mf, .mh, .mi, .mo, .se, .il {
    color: var(--code-color1);
  }

  .c, .ch, .cm, .cp, .cpf, .c1, .cs, .gu {
    color: var(--code-color2);
  }

  .k, .kc, .kd, .kp, .kr, .kt, .no {
    color: var(--code-color3);
  }

  .o, .gd, .gp, .kn, .nt, .ow {
    color: var(--code-color4);
  }

  .gi, .na, .nc, .nd, .ne, .nf, .nx, .fm {
    color: var(--code-color5);
  }

  .ld, .s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss {
    color: var(--code-color6);
  }

  .err {
    border: 1px solid #FF0000;
  }

  .ges, .gs, .gp {
    font-weight: bold;
  }
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-VF.woff2') format('woff2-variations'),;
  font-weight: 300 700;
  font-style: normal;
}

code {
  font-family: 'Fira Code';
  line-height: 150%;
}