@import 'pygments';

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-VF.woff2') format('woff2-variations'),;
  font-weight: 300 700;
  font-style: normal;
}

code {
  font-family: 'Fira Code';
  line-height: 150%;
}

@media print {
  div.highlight {
    break-inside: avoid;
  }
}

.button_no_decoration {
  color: var(--dark-green);
  border: none;
  outline: none;
  background: transparent;
  vertical-align: middle;
}

@media print {
  header.site_header {
    display: none;
  }
}

button {
  color: var(--backgroundcolor);
  background-color: var(--mid-green);
  border: solid;
  border-radius: 3px;
  border-color: var(--mid-green);
}

@media print {
  p:has(> img) {
    break-inside: avoid;
  }
}

sup {
  a {
    vertical-align: super;
    font-size: smaller;
  }
  line-height: 0;
}