<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover" />
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/favicon-64x.png" sizes="64x64">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="shortcut icon" href="/favicon.ico">
    {% assets filters="libsass,cssmin", output="code.min.css", "code.scss" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <style type="text/css">{% include "main.css" %}</style>
  </head>
  <body>
    <header class="site_header">
      <div class="site_title">
        <p><a href="/">{% include "banner.svg" %}</a></p>
      </div>
      <nav>
        <a href="/archives.html">&gt;archives</a>
        &nbsp;<a href="/pages/web-things.html">&gt;web things</a>
        &nbsp;<a href="https://github.com/outurnate">&gt;github</a>
      </nav>
    </header>
    <section>
      {% block content %}
      {% endblock content %}
    </section>
    <footer>
      <small>&copy; 2024 Joe Dillon</small>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">{% include "cc.svg" %}</a>
    </footer>
  </body>
</html>
