@font-face {
  font-family: 'Fira Sans';
  src: url('/theme/Firava.woff2') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F,U+00A0-00FF,U+20BC,U+2010,U+2013,U+2014,U+2018,U+2019,U+201A,U+201C,U+201D,U+201E,U+2039,U+203A,U+2026,U+2022;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/theme/FiravaItalic.woff2') format('woff');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F,U+00A0-00FF,U+20BC,U+2010,U+2013,U+2014,U+2018,U+2019,U+201A,U+201C,U+201D,U+201E,U+2039,U+203A,U+2026,U+2022;
}

:root {
  --light-green:#389844;
  --dark-green:#00420f;
  --mid-green:#6b946c;
  --off-black:#0c200d;
  
  --backgroundcolor: #000000;
  --textcolor: #feffff;
  --lighttextcolor: #eeeeee;
  --box-fill: #272822;
}

body {
  line-height: 1.5;
  color: var(--textcolor);
  background-color: var(--backgroundcolor);
  font-family: Fira Sans;
  font-size: 1em;
  width: 80%;
  min-width: 200px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

img, video, figure {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

ul {
  margin-left: 1rem;
  padding-left: 1rem;
}

a {
  color: var(--textcolor);
  text-decoration: underline;
}

header {
  color: var(--lighttextcolor);
  top: 0;
  padding-bottom : 5px;
  overflow: hidden;
  a {
    color: var(--lighttextcolor);
  }
}

header.site_header {
  border-bottom: solid 1px var(--dark-green);
  margin-bottom : 5px;
}

hr {
  color: var(--dark-green);
  background: var(--dark-green);
  height: 1px;
  font-size: 0;
  border: 0;
}

header.post {
  a {
    font-size: 2.2em;
    line-height: 1.4em;
    font-weight: bold;
    color: var(--textcolor);
    text-decoration: none;
    display: block;
  }

  time {
    color: var(--mid-green);
    text-align: right;
  }
}

.site_title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  a {
    color: var(--textcolor);
    text-decoration: none;
  }
  svg {
    width: 100%;
  }
}

nav {
  text-align: right;
  a {
    text-decoration: none;
  }
}

dl.archives {
  dt {
    color: var(--mid-green);
  }

  dd {
    color: var(--mid-green);
    font-size: 1.3rem;
    margin-left: 0;

    a {
      text-decoration: none;
    }
  }
}

footer {
  color: var(--lighttextcolor);
  margin-top: 50px;
  padding-top: 0px;
  a {
    color: var(--lighttextcolor);
  }
  svg {
    display: block;
    margin: auto;
  }
  small {
    display: block;
    text-align: center;
    font-size: 0.6rem;
  }
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0px;
}

pre {
  border: 1px solid var(--mid-green);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  font-size: 1em;
}

blockquote {
  border-left: 5px solid var(--mid-green);
  padding: 0.5rem;
  margin: 1rem;
}