{% extends "simple.html" %}
{% block title %}Password Strength Checker{% endblock %}
{%~ block head %}
    <script>
      function showShame() {
        document.getElementById("shame").style.display = "block";
        document.getElementById("password_form").style.display = "none";
      }
    </script>
{% endblock head ~%}
{%~ block content %}
<h1>Password Strength Checker</h1>
<form id="password_form" action="javascript:showShame()">
    <label for="password_entry">Enter your password here:</label>
    <input type="password" id="password_entry" />
    <button type="submit">Check Strength</button>
</form>
<div id="shame" style="display: none;">
    <p>Your password's strength:</p>
    <p style="font-size: 2em;"><span style="color: red;">0</span>/10</p>
    <p>You entered your password on a random website.  How do you know this isn't just a password harvesting scam?  It's not...but it could have been.</p>
</div>
{% endblock content ~%}
