<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% if config.generate_feed %}
      <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}" />
    {% endif %}

    <link id="stylesheet" rel="stylesheet" type="text/css" href="{{ config.base_url }}/main.css" />

    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <header>
      <div class="site_title">
        <p><a href="/"><img src="https://avatars.githubusercontent.com/u/777873?v=4" alt="{{ config.title }}" width="128" height="auto" class="srko" /></a></p>
        <p><a href="/">&nbsp;{{ config.title }}</a></p>
      </div>
      <nav>
        <a href="/post">>archives</a>
        &nbsp;<a href="/thing">>web things</a>
        &nbsp;<a href="https://github.com/outurnate">>github</a>
        &nbsp;<a href="https://twitter.com/outurnate">>twitter</a>
      </nav>
    </header>
    <section>
      {% block content %}
        {{ config.description }}
      {% endblock content %}
    </section>
    <footer>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
      </a>
    </footer>
  </body>
</html>